
<!DOCTYPE html>
<html>
 <body> 

   <h1>
     Welcome to Schnell-Schnell please log in.
   </h1>

  <div class="center"> 
    
    <div class = "credentialHolder">
      <div> {{ invalid }} </div>
      <p>
      Email:
      </p>
      <input type="email" [(ngModel)] = "email" class = "pswdBox" >
      <p>
       password:
     </p>
      <input type="password" [(ngModel)] = "password" class = "pswdBox" >
      <div>
         <button (click) = "submit()">
          submit
         </button>
      </div>
   </div>
   </div>
 </body>
</html>


<router-outlet></router-outlet>